In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
data = "gdrive/MyDrive/BDSE_Report_Info/HomeCredit_firstView/data/bureau.csv"
dataf = pd.read_csv(data)
dataf

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.00,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.00,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,0.0,Consumer credit,-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716423,259355,5057750,Active,currency 1,-44,0,-30.0,NaN,0.0,0,11250.00,11250.0,0.0,0.0,Microloan,-19,NaN
1716424,100044,5057754,Closed,currency 1,-2648,0,-2433.0,-2493.0,5476.5,0,38130.84,0.0,0.0,0.0,Consumer credit,-2493,NaN
1716425,100044,5057762,Closed,currency 1,-1809,0,-1628.0,-970.0,NaN,0,15570.00,NaN,NaN,0.0,Consumer credit,-967,NaN
1716426,246829,5057770,Closed,currency 1,-1878,0,-1513.0,-1513.0,NaN,0,36000.00,0.0,0.0,0.0,Consumer credit,-1508,NaN
1716427,246829,5057778,Closed,currency 1,-463,0,NaN,-387.0,NaN,0,22500.00,0.0,NaN,0.0,Microloan,-387,NaN

In [ ]:
print(dataf.info())
print("------------")
print(dataf.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_CURR              int64
 1   SK_ID_BUREAU            int64
 2   CREDIT_ACTIVE           object
 3   CREDIT_CURRENCY         object
 4   DAYS_CREDIT             int64
 5   CREDIT_DAY_OVERDUE      int64
 6   DAYS_CREDIT_ENDDATE     float64
 7   DAYS_ENDDATE_FACT       float64
 8   AMT_CREDIT_MAX_OVERDUE  float64
 9   CNT_CREDIT_PROLONG      int64
 10  AMT_CREDIT_SUM          float64
 11  AMT_CREDIT_SUM_DEBT     float64
 12  AMT_CREDIT_SUM_LIMIT    float64
 13  AMT_CREDIT_SUM_OVERDUE  float64
 14  CREDIT_TYPE             object
 15  DAYS_CREDIT_UPDATE      int64
 16  AMT_ANNUITY             float64
dtypes: float64(8), int64(6), object(3)
memory usage: 222.6+ MB
None
------------
SK_ID_CURR                      0
SK_ID_BUREAU                    0
CREDIT_ACTIVE                   0
CREDIT_CURRENCY                 0
DAYS_CREDIT                     0
CREDIT_DAY_OVERDUE              0
DAYS_CREDIT_ENDDATE        105553
DAYS_ENDDATE_FACT          633653
AMT_CREDIT_MAX_OVERDUE    1124488
CNT_CREDIT_PROLONG              0
AMT_CREDIT_SUM                 13
AMT_CREDIT_SUM_DEBT        257669
AMT_CREDIT_SUM_LIMIT       591780
AMT_CREDIT_SUM_OVERDUE          0
CREDIT_TYPE                     0
DAYS_CREDIT_UPDATE              0
AMT_ANNUITY               1226791
dtype: int64

In [ ]:
print(dataf['SK_ID_BUREAU'].drop_duplicates().count())
sum(np.array(dataf['DAYS_CREDIT'] > -365))

1716428

322863

In [ ]:
dataf=dataf[['SK_ID_CURR','CREDIT_ACTIVE','DAYS_CREDIT','CREDIT_DAY_OVERDUE','AMT_CREDIT_MAX_OVERDUE','CNT_CREDIT_PROLONG','AMT_CREDIT_SUM_OVERDUE','DAYS_CREDIT_UPDATE']]
dataf = dataf.replace(np.nan,0)
dataf['in_one_year'] = (dataf['DAYS_CREDIT'] > -365)*1
dataf

,SK_ID_CURR,CREDIT_ACTIVE,DAYS_CREDIT,CREDIT_DAY_OVERDUE,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,in_one_year
0,215354,Closed,-497,0,0.0,0,0.0,-131,0
1,215354,Active,-208,0,0.0,0,0.0,-20,1
2,215354,Active,-203,0,0.0,0,0.0,-16,1
3,215354,Active,-203,0,0.0,0,0.0,-16,1
4,215354,Active,-629,0,77674.5,0,0.0,-21,0
...,...,...,...,...,...,...,...,...,...
1716423,259355,Active,-44,0,0.0,0,0.0,-19,1
1716424,100044,Closed,-2648,0,5476.5,0,0.0,-2493,0
1716425,100044,Closed,-1809,0,0.0,0,0.0,-967,0
1716426,246829,Closed,-1878,0,0.0,0,0.0,-1508,0
1716427,246829,Closed,-463,0,0.0,0,0.0,-387,0

In [ ]:
## CREDIT_ACTIVE 信用局记录在案的信贷的当前状态
## DAYS_CREDIT 客户申请信用局信贷距离当前申请天数
## CREDIT_DAY_OVERDUE 根据客户申请贷款的时间点来说，信用局信贷违约天数
## AMT_CREDIT_MAX_OVERDUE 迄今为止，信用局信贷最高过期额度
## CNT_CREDIT_PROLONG 信用局信贷延长了多少次
## AMT_CREDIT_SUM_OVERDUE 信用局信贷当前逾期金额
## DAYS_CREDIT_UPDAT 最后一次来源于信用局的信息距离当今申请贷款天数
dataf.groupby('SK_ID_CURR')['CREDIT_ACTIVE'].count()

SK_ID_CURR
100001     7
100002     8
100003     4
100004     2
100005     3
          ..
456249    13
456250     3
456253     4
456254     1
456255    11
Name: CREDIT_ACTIVE, Length: 305811, dtype: int64

In [ ]:
print(dataf['CREDIT_ACTIVE'].drop_duplicates())
print(sum(dataf['CREDIT_ACTIVE']=='Bad debt'))

0         Closed
1         Active
541         Sold
7778    Bad debt
Name: CREDIT_ACTIVE, dtype: object
21

In [ ]:
dataf['bad_debt']= (dataf['CREDIT_ACTIVE']=='Bad debt')*1
print(sum(dataf['bad_debt']))
dataf = dataf.drop(columns=['CREDIT_ACTIVE'])
dataf

21

,SK_ID_CURR,DAYS_CREDIT,CREDIT_DAY_OVERDUE,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,in_one_year,bad_debt
0,215354,-497,0,0.0,0,0.0,-131,0,0
1,215354,-208,0,0.0,0,0.0,-20,1,0
2,215354,-203,0,0.0,0,0.0,-16,1,0
3,215354,-203,0,0.0,0,0.0,-16,1,0
4,215354,-629,0,77674.5,0,0.0,-21,0,0
...,...,...,...,...,...,...,...,...,...
1716423,259355,-44,0,0.0,0,0.0,-19,1,0
1716424,100044,-2648,0,5476.5,0,0.0,-2493,0,0
1716425,100044,-1809,0,0.0,0,0.0,-967,0,0
1716426,246829,-1878,0,0.0,0,0.0,-1508,0,0
1716427,246829,-463,0,0.0,0,0.0,-387,0,0

In [ ]:
test_sec = dataf['CREDIT_DAY_OVERDUE']/np.mean(dataf['CREDIT_DAY_OVERDUE'])
dataf['coef_DAY_OVERDUE'] = test_sec/np.max(test_sec)
dataf

,SK_ID_CURR,DAYS_CREDIT,CREDIT_DAY_OVERDUE,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,in_one_year,bad_debt,coef_DAY_OVERDUE
0,215354,-497,0,0.0,0,0.0,-131,0,0,0.0
1,215354,-208,0,0.0,0,0.0,-20,1,0,0.0
2,215354,-203,0,0.0,0,0.0,-16,1,0,0.0
3,215354,-203,0,0.0,0,0.0,-16,1,0,0.0
4,215354,-629,0,77674.5,0,0.0,-21,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...
1716423,259355,-44,0,0.0,0,0.0,-19,1,0,0.0
1716424,100044,-2648,0,5476.5,0,0.0,-2493,0,0,0.0
1716425,100044,-1809,0,0.0,0,0.0,-967,0,0,0.0
1716426,246829,-1878,0,0.0,0,0.0,-1508,0,0,0.0
1716427,246829,-463,0,0.0,0,0.0,-387,0,0,0.0

In [ ]:
test_sec = dataf['AMT_CREDIT_SUM_OVERDUE']/np.mean(dataf['AMT_CREDIT_SUM_OVERDUE'])
dataf['coef_SUM_OVERDUE'] = test_sec/np.max(test_sec)
dataf

,SK_ID_CURR,DAYS_CREDIT,CREDIT_DAY_OVERDUE,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,in_one_year,bad_debt,coef_DAY_OVERDUE,coef_SUM_OVERDUE
0,215354,-497,0,0.0,0,0.0,-131,0,0,0.0,0.0
1,215354,-208,0,0.0,0,0.0,-20,1,0,0.0,0.0
2,215354,-203,0,0.0,0,0.0,-16,1,0,0.0,0.0
3,215354,-203,0,0.0,0,0.0,-16,1,0,0.0,0.0
4,215354,-629,0,77674.5,0,0.0,-21,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1716423,259355,-44,0,0.0,0,0.0,-19,1,0,0.0,0.0
1716424,100044,-2648,0,5476.5,0,0.0,-2493,0,0,0.0,0.0
1716425,100044,-1809,0,0.0,0,0.0,-967,0,0,0.0,0.0
1716426,246829,-1878,0,0.0,0,0.0,-1508,0,0,0.0,0.0
1716427,246829,-463,0,0.0,0,0.0,-387,0,0,0.0,0.0

In [ ]:
test_sec = dataf['AMT_CREDIT_MAX_OVERDUE']/np.mean(dataf['AMT_CREDIT_MAX_OVERDUE'])
dataf['coefadding_mix'] = (test_sec/np.max(test_sec) + dataf['CNT_CREDIT_PROLONG']/np.max(dataf['CNT_CREDIT_PROLONG']))*0.5
dataf

,SK_ID_CURR,DAYS_CREDIT,CREDIT_DAY_OVERDUE,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,in_one_year,bad_debt,coef_DAY_OVERDUE,coef_SUM_OVERDUE,coefadding_mix
0,215354,-497,0,0.0,0,0.0,-131,0,0,0.0,0.0,0.000000
1,215354,-208,0,0.0,0,0.0,-20,1,0,0.0,0.0,0.000000
2,215354,-203,0,0.0,0,0.0,-16,1,0,0.0,0.0,0.000000
3,215354,-203,0,0.0,0,0.0,-16,1,0,0.0,0.0,0.000000
4,215354,-629,0,77674.5,0,0.0,-21,0,0,0.0,0.0,0.000335
...,...,...,...,...,...,...,...,...,...,...,...,...
1716423,259355,-44,0,0.0,0,0.0,-19,1,0,0.0,0.0,0.000000
1716424,100044,-2648,0,5476.5,0,0.0,-2493,0,0,0.0,0.0,0.000024
1716425,100044,-1809,0,0.0,0,0.0,-967,0,0,0.0,0.0,0.000000
1716426,246829,-1878,0,0.0,0,0.0,-1508,0,0,0.0,0.0,0.000000
1716427,246829,-463,0,0.0,0,0.0,-387,0,0,0.0,0.0,0.000000

In [ ]:
dataf['bad_and_late'] = ((dataf['coef_DAY_OVERDUE'] + dataf['coef_SUM_OVERDUE'] + dataf['bad_debt']) > 0)*1
dataf

,SK_ID_CURR,DAYS_CREDIT,CREDIT_DAY_OVERDUE,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,in_one_year,bad_debt,coef_DAY_OVERDUE,coef_SUM_OVERDUE,coefadding_mix,bad_and_late
0,215354,-497,0,0.0,0,0.0,-131,0,0,0.0,0.0,0.000000,0
1,215354,-208,0,0.0,0,0.0,-20,1,0,0.0,0.0,0.000000,0
2,215354,-203,0,0.0,0,0.0,-16,1,0,0.0,0.0,0.000000,0
3,215354,-203,0,0.0,0,0.0,-16,1,0,0.0,0.0,0.000000,0
4,215354,-629,0,77674.5,0,0.0,-21,0,0,0.0,0.0,0.000335,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716423,259355,-44,0,0.0,0,0.0,-19,1,0,0.0,0.0,0.000000,0
1716424,100044,-2648,0,5476.5,0,0.0,-2493,0,0,0.0,0.0,0.000024,0
1716425,100044,-1809,0,0.0,0,0.0,-967,0,0,0.0,0.0,0.000000,0
1716426,246829,-1878,0,0.0,0,0.0,-1508,0,0,0.0,0.0,0.000000,0
1716427,246829,-463,0,0.0,0,0.0,-387,0,0,0.0,0.0,0.000000,0

In [ ]:
dataf = dataf[['SK_ID_CURR','in_one_year','bad_debt','coef_DAY_OVERDUE','coef_SUM_OVERDUE','coefadding_mix','bad_and_late']]
dataf

,SK_ID_CURR,in_one_year,bad_debt,coef_DAY_OVERDUE,coef_SUM_OVERDUE,coefadding_mix,bad_and_late
0,215354,0,0,0.0,0.0,0.000000,0
1,215354,1,0,0.0,0.0,0.000000,0
2,215354,1,0,0.0,0.0,0.000000,0
3,215354,1,0,0.0,0.0,0.000000,0
4,215354,0,0,0.0,0.0,0.000335,0
...,...,...,...,...,...,...,...
1716423,259355,1,0,0.0,0.0,0.000000,0
1716424,100044,0,0,0.0,0.0,0.000024,0
1716425,100044,0,0,0.0,0.0,0.000000,0
1716426,246829,0,0,0.0,0.0,0.000000,0
1716427,246829,0,0,0.0,0.0,0.000000,0

In [3]:
data = "gdrive/MyDrive/bureau_weighting.csv"
dataf.to_csv(data)

NameError: ignored